/*Основной колір тексту #757575 */

/*Другорядний колір тексту #212121 */

/*Колір Веб студіо блакитний #2196F3
 темний #000000; */
/* Колір тексту білий #FFFFFF */
/* Колір тексту ссилок футер  rgba(255, 255, 255, 0.6)*/
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --adres-color: rgba(255, 255, 255, 0.6);
  --button-text-color: #ffffff;
  --button-color: #188ce8;
  --logo-color: #000000;
  --hero-color: #2f303a;
  --background-color: #f5f4fa;
  --border-color: #ececec;
}
body {
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
h1,
h2,
h3,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.link {
  text-decoration: none;
  color: inherit;
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.card-item {
  margin-left: 30px;
  margin-top: 30px;
}
.page-header {
  border-bottom: 1px solid var(--border-color);
}
.header-container {
  display: flex;
  align-items: center;
}
.main-nav {
  display: flex;
  align-items: center;
}
.logo {
  color: var(--accent-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo-black {
  color: var(--logo-color);
}
.site-nav {
  color: var(--title-text-color);
  display: flex;
  margin-left: 93px;
}

.header-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.logo-wite {
  color: var(--button-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .item + .item {
  margin-left: 50px;
}
.auth-nav {
  display: flex;
  margin-left: auto;
}
.auth-nav .item + .item {
  margin-left: 50px;
}
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}
/*--Hero--*/
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--hero-color);
  text-align: center;
}
.hero-title {
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;

  color: var(--button-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.button {
  min-width: 200px;
  padding: 10px 32px;

  color: var(--button-text-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: none;
}
.hero-button {
}
.button:focus,
.button:hover {
  background-color: var(--button-color);
  border-radius: 4px;
}
/*--Section--*/
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-title {
  font-size: 36px;
  line-height: 1.17;
  color: var(--title-text-color);
  padding-bottom: 50px;
  text-align: center;
}

/*--Feutures--*/
.specifics {
  flex-basis: calc(100% / 4 - 30px);
}

.title {
  margin-bottom: 10px;
  line-height: 1.14;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.text {
}
.section-team {
  background-color: var(--background-color);
}
.work {
  padding-top: 0;
}
.work-title {
  flex-basis: calc(100% / 3 - 30px);
}
.comand-title {
  flex-basis: calc(100% / 4 - 30px);
}
.comand-list {
  text-align: center;
}
.team-content {
  padding: 30px;
}
.section-title,
.name {
  font-weight: 500;
  color: var(--title-text-color);
}
.name {
  margin-bottom: 10px;
}
.profession,
.name {
  font-size: 16px;
  line-height: 1.19;
}
/*Footer*/
.addres {
  font-style: normal;
}
.footer {
  background-color: var(--hero-color);
  padding: 60px 0;
}
.footer .logo {
  display: block;
  margin-bottom: 20px;
}
.footer-link[target="blank"] {
  color: var(--button-text-color);
}
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}
.footer-link {
  color: var(--adres-color);
}
.tel-link:not(:last-child) {
  margin-bottom: 9px;
}

/*Кнопки 2ст*/
.filter-button:focus,
.filter-button:hover {
  background-color: var(--accent-color);
  color: var(--button-text-color);
  border-radius: 4px;
}
.filter-list {
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.filter-list .filter-iteam + .filter-iteam {
  margin-left: 20px;
}
.filter-button {
  border: none;
  padding: 6px 22px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  font-family: "Roboto";
}

/*Список проектів*/
.project-list {
}
.project-title {
  flex-basis: calc(100% / 3 - 30px);
}

.project-title:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}
.project-title {
}
.project-name {
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.projects {
  padding: 20px 24px;
  border: 1px solid var(--border-color);
  border-top: none;
}
.project {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
