/*Основной колір тексту #757575 */

/*Другорядний колір тексту #212121 */

/*Колір Веб студіо блакитний #2196F3
 темний #000000; */
/* Колір тексту білий #FFFFFF */
/* Колір тексту ссилок футер  rgba(255, 255, 255, 0.6)*/
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --adres-color: rgba(255, 255, 255, 0.6);
  --button-text-color: #ffffff;
  --button-color: #188ce8;
  --logo-color: #000000;
  --hero-color: #2f303a;
  --background-color: #f5f4fa;
  --border-color: #ececec;
  --link-color: #afb1b8;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
h1,
h2,
h3,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* svg {
  fill: currentColor;
} */
ul {
  padding-left: 0;
}

address {
  font-style: normal;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.link {
  text-decoration: none;
  color: inherit;
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.card-item {
  margin-left: 30px;
  margin-top: 30px;
}
.icon-back {
  background-color: var(--background-color);
  width: 270px;
  height: 120px;
  align-items: center;
  justify-content: center;
}
.page-header {
  border-bottom: 1px solid var(--border-color);
}
.header-container {
  display: flex;
  align-items: center;
}
.main-nav {
  display: flex;
  align-items: center;
}
.logo {
  color: var(--accent-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo-black {
  color: var(--logo-color);
}
.site-nav {
  color: var(--title-text-color);
  display: flex;
  margin-left: 93px;
}
/* .header-link::before {
  background-image: url("../images/smartphone.svg");
  fill: currentColor;
} */
.header-link svg {
  margin-right: 10px;
}
.header-link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  fill: currentColor;
  transition: color var(--transition);
}
.item {
  position: relative;
}
.header-link.current-link::after {
  position: absolute;
  content: "";
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}
.logo-wite {
  color: var(--button-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus,
.current-link {
  color: var(--accent-color);
}

.site-nav .item + .item {
  margin-left: 50px;
}
.auth-nav {
  display: flex;
  margin-left: auto;
}
.auth-nav .item + .item {
  margin-left: 50px;
}
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}
/*--Hero--*/
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--hero-color);
  text-align: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/Img-cap.jpg);
  max-width: 1600px;
  background-repeat: no-repeat;
  margin-right: auto;
  margin-left: auto;
}
.hero-title {
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  color: var(--button-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.button {
  min-width: 200px;
  padding: 10px 32px;
  border-radius: 4px;
  color: var(--button-text-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: none;
  transition: background-color var(--transition);
}
/* .hero-button {
} */
.button:focus,
.button:hover {
  background-color: var(--button-color);
}
/*--Section--*/
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-title {
  font-size: 36px;
  line-height: 1.17;
  color: var(--title-text-color);
  margin-bottom: 50px;
  text-align: center;
}

/*--Feutures--*/
.specifics {
  flex-basis: calc(100% / 4 - 30px);
}
.specifics .title::before {
  content: "";
  height: 120px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--background-color);
  margin-bottom: 30px;
  display: block;
}
.icon-antena::before {
  background-image: url(../images/antenna.svg);
}
.icon-clock::before {
  background-image: url(../images/Vector.svg);
}
.icon-diagram::before {
  background-image: url(../images/diagram.svg);
}
.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
}

.title {
  margin-bottom: 10px;
  line-height: 1.14;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.section-team {
  background-color: var(--background-color);
}
.work {
  padding-top: 0;
}
.work-title {
  flex-basis: calc(100% / 3 - 30px);
  position: relative;
}
.work-title-text {
  position: absolute;
  width: 100%;
  padding: 27px;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--button-text-color);
  text-align: center;
  bottom: 0;
}
.text-work {
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.comand-title {
  flex-basis: calc(100% / 4 - 30px);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.comand-list {
  text-align: center;
}
.social-list {
  display: flex;
  justify-content: center;
}
.social-item {
  width: 44px;
  height: 44px;
}
.social-item:not(:last-child) {
  margin-right: 10px;
}
.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  color: var(--button-text-color);
}

.social-item :last-child {
  margin-right: 0;
}
.social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--link-color);
  transition: color var(--transition),
    background-color var(--transition);
}
.social-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
.team-content {
  padding: 30px;
}
.name {
  color: var(--title-text-color);
  font-weight: 500;
}
.name {
  margin-bottom: 10px;
}
.profession,
.name {
  font-size: 16px;
  line-height: 1.19;
}
.profession {
  margin-bottom: 16px;
}
.client-title {
  text-align: center;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 50px;
}
/* .client-list {
} */

.client-item {
  flex-basis: calc(100% / 6 - 30px);
}
.client-link {
  display: block;
  text-align: center;
  height: 92px;
  border: 1px solid currentColor;
  border-radius: 4px;
  padding: 14px 28px;
  color: var(--link-color);
  transition: color var(--transition);
}
.client-icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}
.client-link:hover,
.client-link:focus {
  color: var(--accent-color);
}

/*Footer*/

.footer.addres {
  display: flex;
  flex-wrap: wrap;
}
.footer {
  background-color: var(--hero-color);
  padding: 60px 0;
}
.addres {
  margin-right: 70px;
}

.container-footer {
  display: flex;
  align-items: baseline;
}
.footer .logo {
  display: block;
  margin-bottom: 20px;
}
.footer-link[target="blank"] {
  color: var(--button-text-color);
}
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}
.footer .social-icon {
  fill: var (--button-text-color);
}
.footer-link {
  color: var(--adres-color);
  text-decoration: inherit;
  transition: color var(--transition);
}
.tel-link:not(:last-child) {
  margin-bottom: 9px;
}
.footer-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 93px;
}
.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--button-text-color);
  margin-bottom: 20px;
}
.footer-svg {
  display: flex;
}
.footer .social-icon {
  color: var(--button-text-color);
}
.footer-reverse {
  display: flex;
  flex-wrap: wrap;
}
.footer-reverse h2 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--button-text-color);
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer-input {
  min-width: 358px;
  left: auto;
  padding-left: 16px;
  background: transparent;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}
.footer-input:hover,
.footer-input:focus {
  border: 1px solid var(--button-color);
}

.footer-top-email {
  display: flex;
}
.footer-btn {
  padding: 10px 62px 10px 28px;
  border-radius: 4px;
  background-color: var(--button-color);
  border: none;
  color: var(--button-text-color);
  display: flex;
  position: relative;
}
.footer-btn:focus,
.footer-btn:hover {
  background-color: var(--accent-color);
}

.send-icon {
  position: absolute;
  right: 28px;
  top: 50%;
  transform: translateY(-50%);
}

/*Кнопки 2ст*/
.filter-button:focus,
.filter-button:hover {
  background-color: var(--accent-color);
  color: var(--button-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.25),
    0px 1px 2px rgba(0, 0, 0, 0.025);
}
.filter-list {
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.filter-list .filter-iteam + .filter-iteam {
  margin-left: 20px;
}
.filter-button {
  border: none;
  padding: 6px 22px;
  border-radius: 4px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  font-family: "Roboto";
  transition: color var(--transition),
    background-color var(--transition),
    box-shadow var(--transition);
}

/*Список проектів*/
/* .project-list {
} */
.project-title {
  flex-basis: calc(100% / 3 - 30px);
}
.project-link {
  display: flex;
  flex-direction: column;
  position: relative;
  transition: box-shadow var(--transition);
}
.project-link:hover,
.project-link:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-link:hover .project-text,
.project-link:focus .project-text {
  transform: translateY(0);
}

.project-name {
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.projects {
  padding: 20px 24px;
  border: 1px solid var(--border-color);
  border-top: none;
}
.project {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
}
.project-wrap {
  position: relative;
  overflow: hidden;
}
.project-text {
  position: absolute;
  top: 0;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  background-color: rgba(33, 150, 243, 0.9);
  color: rgba(255, 255, 255, 1);
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform var(--transition);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity var(--transition),
    visibility var(--transition);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}
.modal {
  width: 528px;
  min-height: 581px;
  padding: 40px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--transition);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
}

.close-btn {
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
  fill: #000000;
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
}

.modal-title {
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 7px;
}
.modal-field {
  margin-bottom: 10px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
}
.input-wrap:hover,
.input-wrap:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}
.modal-text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  color: rgba(117, 117, 117, 0.5);
  padding: 12px 16px;
}
.modal-btn {
  padding: 10px 55px;
  text-align: center;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--button-text-color);
  border-radius: 4px;
  border: none;
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--button-color);
}
.modal-lable {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  display: block;
  margin-bottom: 4px;
}

/* .icon-close {
  width: 16px;
  height: 16px;
} */
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.input-wrap {
  position: relative;
}

.modal-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.modal-comments {
  margin-bottom: 20px;
}
.modal-check:checked + .check-text::before {
  background-image: url(../images/Vector-5.svg);
  background-color: var(--button-color);
  border: none;
  background-repeat: no-repeat;
  background-position: center;
}

.check-text {
  font-weight: 400;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.check-text::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  margin-right: 7px;
}
.modal-top-check {
  display: block;
  text-align: center;
}
.check-title {
  color: var(--accent-color);
}
