.client {
  &__title {
    text-align: center;
    font-size: 28px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    margin-bottom: 30px;
    @include tablet {
      font-size: 28px;
      line-height: 1.18;
    }
    @include desktop {
      font-size: 36px;
      line-height: 1.17;
      margin-bottom: 50px;
    }
  }
  &__item {
    justify-content: center;
    width: calc((100% - 30px) / 2);
    @include tablet {
      width: calc((100% - 60px) / 3);
    }
    @include desktop {
      width: calc((100% - 150px) / 6);
    }
  }
  &__link {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    height: 92px;
    border: 1px solid currentColor;
    border-radius: 4px;
    padding: 14px 28px;
    color: var(--link-color);
    transition: color var(--transition);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
  &__icon {
    width: 106px;
    height: 60px;
    fill: currentColor;
  }
}
