.footer {
  background-color: var(--hero-color);
  padding: 60px 0;
  &__link {
    display: flex;
    justify-content: space-around;
    margin-bottom: 8px;
    color: var(--adres-color);
    text-decoration: inherit;
    transition: color var(--transition);
    &[target="blank"] {
      color: var(--button-text-color);
    }
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
  &__list {
    display: flex;
    @media screen and (max-width: 1198px) {
      justify-content: center;
    }
  }
  &__item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    @media screen and (max-width: 767px) {
      width: 100%;
    }
    @include desktop {
      align-items: flex-start;
      padding-top: 0;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--button-text-color);
    margin-bottom: 20px;
  }

  &__input {
    height: 50px;
    padding: 16px;
    background: transparent;
    margin-bottom: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    color: inherit;
    transition: border var(--transition);
    &:hover,
    &:focus {
      border: 1px solid var(--button-color);
      outline: none;
    }
    @media screen and (max-width: 767px) {
      width: 100%;
      max-width: 450px;
    }
    @include tablet {
      width: 450px;
    }
    @include desktop {
      max-width: 358px;
      margin-right: 12px;
    }
  }
  &__container {
    display: flex;
    @media screen and(max-width: 766px) {
      flex-direction: column;
      align-items: center;
      gap: 60px;
    }
    @include tablet {
      align-items: baseline;
      flex-wrap: wrap;
      justify-content: space-around;
      gap: 60px;
    }
    @include desktop {
      gap: 0;
    }
  }
  &__email {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and(max-width: 767px) {
      width: 100%;
    }
    @include desktop {
      flex-direction: row;
      align-items: flex-start;
    }
  }
  .social-list__icon {
    fill: var(--button-text-color);
  }
}
@include desktop {
  .footer__item:not(:last-child) {
    margin-right: 70px;
  }
  .footer__item:last-child {
    margin-left: auto;
    display: block;
  }
  .footer__list:not(:last-child) {
    margin-bottom: 9px;
  }
  .send-icon {
    margin-left: 10px;
  }
}
