.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: var(--hero-color);
  text-align: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/img-mobil.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: auto;
  margin-left: auto;
  @include retina {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/img-mobil-2x.jpg);
  }
  @include mobil {
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/img-mobil.jpg);
    @include retina {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/img-mobil-2x.jpg);
    }
  }
  @include tablet {
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/img-tablet.jpg);
    @include retina {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/img-tablet-2x.jpg);
    }
  }
  @include desktop {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 480px;
    width: 100%;
    max-width: 1600px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/desktop.jpg);
    @include retina {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/desktop-2x.jpg);
    }
  }
  &__title {
    max-width: 696px;
    margin-left: auto;
    margin-right: auto;
    color: var(--button-text-color);
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
    @include mobil {
      font-weight: 900;
      font-size: 26px;
      line-height: 1.62;
      letter-spacing: 0.06em;
    }
    @include tablet {
      max-width: 360px;
      font-weight: 900;
      font-size: 26px;
      line-height: 1.62;
      letter-spacing: 0.06em;
    }
    @include desktop {
      max-width: 696px;
      font-weight: 900;
      font-size: 44px;
      line-height: 1.36;
      letter-spacing: 0.06em;
    }
  }
}
