.work {
  padding-top: 0;

  &__title {
    display: flex;
    flex-wrap: wrap;
    width: calc((100% - 60px) / 3);
    gap: 30px;
    position: relative;
  }
  &__title--top {
    position: absolute;
    width: 100%;
    padding: 27px;
    background-color: rgba(47, 48, 58, 0.8);
    color: var(--button-text-color);
    text-align: center;
    bottom: 0;
  }
  &__text {
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  @media screen and (max-width: 1198px) {
    display: none;
  }
  @include desktop {
    display: flex;
  }
}
