.auth-nav {
  display: none;
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-left: auto;
    flex-direction: column;
    gap: 10px;
  }

  @include desktop {
    flex-direction: row;
  }

  & .link:hover,
  & .link:focus {
    color: var(--accent-color);
  }
}
