.auth-nav {
  display: none;
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-left: auto;
    flex-direction: column;
    gap: 10px;
    font-size: 12px;
    line-height: 1.17;
  }
  @include desktop {
    font-size: 14px;
    line-height: 1.14;
    gap: 30px;
  }

  @include desktop {
    flex-direction: row;
  }

  & .link:hover,
  & .link:focus {
    color: var(--accent-color);
  }
}
