.footer__logo {
  display: block;
  margin-bottom: 20px;
}
.header__logo {
  margin-top: 16px;
  margin-bottom: 16px;
}
.logo {
  color: var(--accent-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  &__black {
    color: var(--logo-color);
  }
  &__wite {
    color: var(--button-text-color);
  }
}
