.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  color: var(--title-text-color);
  display: flex;
  margin-left: 93px;
  & .item + .item {
    margin-left: 50px;
  }
  & .link:hover,
  & .link:focus,
  .current-link {
    color: var(--accent-color);
  }
}

.item {
  position: relative;
  &__svg {
    margin-right: 10px;
  }
  &__link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    fill: currentColor;
    transition: color var(--transition);
    &.current-link::after {
      position: absolute;
      content: "";
      bottom: -1px;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: var(--accent-color);
    }
  }
}
