h1,
h2,
h3,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  padding-left: 0;
}

address {
  font-style: normal;
}
